body{
	background-color:lightskyblue;
	text-align:center
}

title{
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center
	font-size:32pt;
}

#mainTitle{

}

#buttonIn{

}

#buttonOut{

}

#authTitle{

}

#x1{
	word-wrap: break-word;
	width:50%;
	margin:auto;
	border:3px solid black;
	border-radius: 25px;
	padding:2px;
	text-align:center;
}

#x2{
	word-wrap: break-word;
	width:50%;
	margin:auto;
	border:3px solid black;
	border-radius: 25px;
	padding:2px;
	text-align:center;
}

#secret{
	text-align: center
}